.modal__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  width: 100%;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: #000 1px solid;
  box-sizing: border-box;
}

.modal__radio-btns {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__legend {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.modal__label_type_radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__radio-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.modal__radio-input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.modal__radio-input:checked + span {
  color: #000;
  font-weight: 700;
}
