.card {
  width: 323px;
  height: 326px;
  border: 1px solid #0000004d;
  border-radius: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  color: #00000099;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__like-button {
  width: 18px;
  height: 15px;
  background: url("../../assets/like.svg") center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card__like-button_active {
  background-image: url("../../assets/like-active.svg");
}
